body,
html {
  @apply p-2 font-light text-gray-200 bg-gray-900;
}

a.link {
  @apply text-teal-200 underline;

  /* 
  box-shadow: inset 0 -0.1em 0 #dae1e7;
  transition: box-shadow 0.2s ease-in-out; */
}

/* .nuxt-content a:hover,
a.link:hover {
  box-shadow: inset 0 -1.2em 0 #dae1e7;
} */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
