body,
html {
  @apply p-2 font-light text-gray-200 bg-gray-900;
}

a.link {
  @apply text-teal-200 underline;

  background: rgba(35, 78, 82, 0);
  transition: background 0.1s ease-in-out;
}

a.link:hover,
a.link:focus {
  background: rgba(35, 78, 82, 1);
}
a.link:focus {
  @apply border border-teal-500 outline-none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
